.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}

.country {
    padding: 40px 20px;
    max-width: 80%;
    margin: 40px auto;
}

.country h2{
    text-align: center;
    margin-bottom: 30px;
    color: #4b2e2e;
}

.coffee-types {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.coffee-types h2 {
    color: #4b2e2e;
    font-size: 32px;
    margin-bottom: 30px;
}

.coffee-card {
    display: inline-block;
    width: 800px;
    margin: 10px;
    background-color: #f2ebe3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.coffee-card img {
    float: left;
    width: 150px;
    border-radius: 10px;

}

.coffee-card h3 {
    margin: 0 0 10px 0;
    color: #4b2e2e;
}

.coffee-card p {
    font-size: 14px;
    color: #333;
}

.coffee-card ul {
    text-align: left;
    line-height: 1.3;
}

.coffee-card ul li {
    list-style: none;
}

.bean-table {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
    background-color: #f2ebe3;
}

.bean-table th,
.bean-table td {
    border: 1px solid #d6c8b7;
    padding: 12px 15px;
    text-align: left;
}

.bean-table th {
    background-color: #4b2e2e;
    color: white;
    font-weight: bold;
}

.bean-table tr:nth-child(even) {
    background-color: #f7f2ec;
}

.text-center {
    text-align: center;
}

.list-container {
    overflow: hidden;
}

.list-container ul {
    float: left;
    width: 45%;
    list-style: none;
    padding: 5px;
    margin-right: 5%;
}

.list-container li {
    margin-bottom: 20px;
    padding: 5px;
}
