.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}

.q-position {
    display: block;
    text-align: right;
    font-style: italic;
    line-height: 1.8;
}

.four-boxes {
    text-align: center;
}

.box {
    background-color: #e6dcd2;
    display: inline-block;
    width: 45%;
    height: 350px;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

.box:hover {
    background: #f7f3ed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.coffee-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.fun-facts {
    padding: 40px 20px;
    max-width: 80%;
    margin: 40px auto;
}

.fun-facts h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #4b2e2e;
}

.coffee-facts {
    list-style: none;
}

.coffee-facts li {
    align-items: center;
    margin-bottom: 12px;
    font-size: 20px;
    color: #333;
}