@font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi/Satoshi-Regular.woff2") format("woff2");

}

@font-face {
    font-family: "SatoshiBold";
    src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
}

* {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
    font-family: "OpenSans";
}


header {
    background: #e0d4c4;
    color: 3d1410;
    padding: 40px;
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
    background: #3d1410;
    font-family: "SatoshiBold";
}

nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    font-family: "SatoshiBold";
}

h2 {
    font-size: 26px;
    font-family: "SatoshiBold";
}

h3 {
    font-size: 22px;
    font-family: "SatoshiBold";
}

section,
article {
    margin-bottom: 20px;
    padding: 5px;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#back-out-main {
    float: right;
    width: max-content;
    margin-top: -90px;
    padding: 0 80px;
}

#back-out-main img {
    width: 50px;
    height: 50px;
}

footer {
    background: #3d1410;
    color: #e0d4c4;
    padding: 40px;
    text-align: center;
}

.site-footer {
    background-color: #4b2e2e;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}
