@font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi/Satoshi-Regular.woff2") format("woff2");

}

@font-face {
    font-family: "SatoshiBold";
    src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
}

* {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
    font-family: "OpenSans";
}


header {
    background: #e0d4c4;
    color: 3d1410;
    padding: 40px;
    text-align: center;
}

nav {
    text-align: center;
    padding: 15px;
    background: #3d1410;
    font-family: "SatoshiBold";
}

nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-family: "SatoshiBold";
}

h2 {
    font-size: 26px;
    font-family: "SatoshiBold";
}

h3 {
    font-size: 22px;
    font-family: "SatoshiBold";
}

section,
article {
    margin-bottom: 20px;
    padding: 5px;
}

.q-position {
    display: block;
    text-align: right;
    font-style: italic;
    line-height: 1.8;
}

.four-boxes {
    text-align: center;
}

.box {
    background-color: #e6dcd2;
    display: inline-block;
    width: 45%;
    height: 350px;
    vertical-align: top;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

.box:hover {
    background: #f7f3ed;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

.coffee-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.fun-facts {
    padding: 40px 20px;
    max-width: 80%;
    margin: 40px auto;
}

.fun-facts h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #4b2e2e;
}

.country {
    padding: 40px 20px;
    max-width: 80%;
    margin: 40px auto;
}

.country h2{
    text-align: center;
    margin-bottom: 30px;
    color: #4b2e2e;
}

.coffee-facts {
    list-style: none;
}

.coffee-facts li {
    align-items: center;
    margin-bottom: 12px;
    font-size: 20px;
    color: #333;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

#back-out-main {
    float: right;
    width: max-content;
    margin-top: -90px;
    padding: 0 80px;
}

#back-out-main img {
    width: 50px;
    height: 50px;
}

footer {
    background: #3d1410;
    color: #e0d4c4;
    padding: 40px;
    text-align: center;
}

.site-footer {
    background-color: #4b2e2e;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}

.coffee-types {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.coffee-types h2 {
    color: #4b2e2e;
    font-size: 32px;
    margin-bottom: 30px;
}

.coffee-card {
    display: inline-block;
    width: 800px;
    margin: 10px;
    background-color: #f2ebe3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.coffee-card img {
    float: left;
    width: 150px;
    border-radius: 10px;

}

.coffee-card h3 {
    margin: 0 0 10px 0;
    color: #4b2e2e;
}

.coffee-card p {
    font-size: 14px;
    color: #333;
}

.coffee-card ul {
    text-align: left;
    line-height: 1.3;
}

.coffee-card ul li {
    list-style: none;
}

.bean-table {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
    background-color: #f2ebe3;
}

.bean-table th,
.bean-table td {
    border: 1px solid #d6c8b7;
    padding: 12px 15px;
    text-align: left;
}

.bean-table th {
    background-color: #4b2e2e;
    color: white;
    font-weight: bold;
}

.bean-table tr:nth-child(even) {
    background-color: #f7f2ec;
}

.text-center {
    text-align: center;
}

.list-container {
    overflow: hidden;
}

.list-container ul {
    float: left;
    width: 45%;
    list-style: none;
    padding: 5px;
    margin-right: 5%;
}

.list-container li {
    margin-bottom: 20px;
    padding: 5px;
}

.contact-section {
    background: #f7f3ed;
    padding: 50px 20px;
    text-align: center;
    float: left;
    width: 50%;
}

.contact-section h2 {
    font-size: 32px;
    color: #3c2b20;
    margin-bottom: 30px;
}

.contact-form {
    display: inline-block;
    text-align: left;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.contact-form fieldset {
    border: 2px solid #e0d9d2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-form legend {
    font-weight: bold;
    color: #5a3a26;
    padding: 0 10px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    color: #5a3a26;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background: #6b4423;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.contact-form button:hover {
    background: #56321c;
}

.recommendation-section {
    background: #f7f3ed;
    padding: 50px 20px;
    text-align: center;
}

.section-map {
    width: 50%;
    float: left;
    text-align: center;
}

details {
    margin: 5px;
    padding-left: 5px;
}

.section-faq {
    width: 50%;
    float: left;
    text-align: center;
}